* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #16133D;
    --secondary-color: #fff;
    --accent-color: #007FFC;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Hidden menu ==================================================================================================================================== */
.hidden-menu {
    width: 100%;
    height: 250px;
    background: var(--secondary-color);
    position: fixed;
    top: 100px;
    z-index: 10;
    transform: translateY(-100%);
    transition: 0.3s linear;
}

.menu-active {
    transform: translateY(0%);
}

.hidden-ul {
    flex-direction: column;
    list-style-type: none;
    padding-right: 10%;
}

.hidden-li {
    text-align: right;
}

.hidden-a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger-menu {
    display: none;
    width: 60px;
    height: 60px;
    flex-direction: column;
    padding: 20.5px 17.5px;
    justify-content: space-between;
    margin: 0 0 0 auto;
}

.menu-line {
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    border-radius: 30px;
    transition: all 0.3s ease;
}

/* Header ============================================================================ */
.header {
    width: 100%;
    padding: 35px 0;
    background: var(--secondary-color);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header__right,
.header__left,
.header__center {
    display: flex;
    align-items: center;
}

.header__right a:first-of-type {
    margin-right: 20px;
}

.header .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 120px;
}

.header__center {
    display: flex;
    align-items: center;
}

.header__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list-item {
    margin: 0 30px;
}

.header__link {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}

.header__link:hover {
    color: var(--accent-color);
}

.header__right a:nth-child(1) {
    margin: 0 20px 0 auto;
}

/* Main section ======================================================================================= */
.main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 170px;
    gap: 100px;
}

.main__headline {
    font-size: 56px;
    color: var(--primary-color);
    font-weight: 600;
    max-width: 477px;
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
}

.main_desc {
    font-size: 19px;
    font-weight: 400;
    color: var(--primary-color);
    margin: 30px 0;
}

.main__buttons-wrap {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px;
}

.main__slider-wrap {
    position: relative;
    max-width: 1fr;
}

.main-slider__controls {
    position: absolute;
    top: calc(50% - 27.5px);
    left: 0;
    right: 0;
    z-index: 50;
}

.main__slider-inside {
    position: absolute;
    width: 100%;
}

.main-slider img {
    max-height: 416px;
}

.slider-arrow {
    width: 55px;
    height: 55px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.slider-arrow-left {
    left: -27.5px;
}

.slider-arrow-right {
    right: -27.5px;
}

/* Experience section ======================================================================================= */
.experience {
    padding: 120px 0 0;
}

.experience__types-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 65px;
}

.experience-type {
    border: 1px solid #e5eaf4;
    padding: 40px;
    border-radius: 8px;
}

.experience-type__name {
    margin: 30px 0 15px;
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 400;
}

.experience-type__desc,
.experience-type__button {
    font-weight: 400;
    color: var(--primary-color);
    font-size: 16px;
}

.experience-type__button {
    display: block;
    margin-top: 35px;
    transition: 0.3s;
}

.experience-type__button:hover {
    color: var(--accent-color);
}

/* Features section ======================================================================================== */
.features {
    padding: 200px 0;
}

.features__types-wrap {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.feature-type {
    display: block;
    cursor: pointer;
    position: relative;
}

.feature-type__img {
    width: 100%;
}

.feature-type__desc {
    position: absolute;
    bottom: 65px;
    left: 45px;
    font-size: 36px;
    font-weight: 400;
    color: var(--secondary-color);
    max-width: 449px;
}

/* Plan section ========================================================================================= */
.plan__types-wrap {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.plan__types-wrap div:nth-child(1) {
    border-top: 3px solid var(--accent-color);
}

.plan__types-wrap div:nth-child(2) {
    border-top: 3px solid #52C29D;
}

.plan__types-wrap div:nth-child(3) {
    border-top: 3px solid #F04D5D;
}

.plan-type {
    padding: 50px 40px;
    box-shadow: 0px 0px 10px #f3f3f3;
}

.plan-type p {
    text-align: center;
}

.plan-type__name {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 400;
}

.plan-type__price {
    font-size: 40px;
    font-weight: 700;
    color: var(--accent-color);
    margin: 37px 0 10px;
}

.plan-type__longevity {
    color: #5A7184;
    font-size: 16px;
    font-weight: 400;
}

.plan-desc {
    font-size: 16px;
    color: #7690A8;
    font-weight: 400;
    margin: 40px 0 55px;
}

.plan .btn {
    border-radius: 50px;
    margin: 0 auto;
    transition: 0.3s;
}

.plan .btn:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.plan-type__price_enterprice {
    color: #52C29D;
}

.plan-type__price_pro {
    color: #F04D5D;
}

/* Proposition section ===================================================================================== */
.proposition {
    padding: 200px 0;
}

.proposition-type {
    width: 100%;
    border-radius: 10px;
    padding: 100px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/proposition/proposition.png) top/cover
}

.proposition-type__headline {
    font-size: 40px;
    color: var(--secondary-color);
    font-weight: 400;
}

.proposition-type__desc {
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 400;
    margin: 25px 0 50px;
}

.proposition-type__buttons-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.proposition .btn {
    border-radius: 50px;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.proposition .btn_active {
    background: transparent;
}

/* Footer ========================================================================================= */
.footer {
    padding: 90px 0 70px;
    background: var(--primary-color);
}

.footer .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footer__desc {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 400;
    margin-top: 20px;
    max-width: 285px;
}

.footer__social-wrap {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 8px;
    margin-top: 55px;
}

.footer__list li:nth-child(1) {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer__list-item {
    margin-bottom: 12px;
}

.footer__link {
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 400;
    transition: 0.3s;
}

.footer__link:hover {
    color: var(--accent-color);
}

.footer__mail {
    display: block;
    margin: 20px 0 30px;
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 400;
}

.footer__certificates-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.footer__certificates-wrap a:not(:last-child) {
    margin-right: 20px;
}

.copy {
    margin: 90px auto 0;
    text-align: center;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
}

/* Utility classes =========================================================== */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1155px;
}

.btn {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    padding: 15px 35px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 1rem;
}

.btn_dark {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn_active {
    background: var(--accent-color);
    color: var(--secondary-color);
}

.btn_active-dark {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.section-type {
    font-size: 16px;
    font-weight: 400;
    color: #7690A8;
    text-transform: uppercase;
}

.section-name {
    font-size: 40px;
    color: var(--primary-color);
    margin: 5px 0 10px;
    font-family: 'Nunito', sans-serif;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: #7690A8
}

/* Adaptivness ==================================================================================== */
@media screen and (max-width: 1280px) {
    .container {
        max-width: 900px;
    }

    .header__list-item {
        margin: 0 10px;
    }

    .logo {
        width: 120px;
    }

    .main .container {
        gap: 70px;
    }

    .proposition-type__headline,
    .proposition-type__desc {
        text-align: center;
    }

    .header .container {
        column-gap: 110px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 700px;
    }

    .header__navbar {
        display: none;
    }

    .main .container {
        grid-template-columns: 1fr;
        padding-bottom: 500px;
    }

    .main-slider img {
        width: 100%;
        max-height: 462px;
    }

    .features__types-wrap {
        grid-template-columns: 1fr;
    }

    .plan__types-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .proposition-type {
        padding: 50px 120px;
    }

    .footer .container {
        grid-template-columns: auto auto;
        gap: 50px;
    }

    .burger-menu {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 550px;
    }

    .experience__types-wrap {
        grid-template-columns: 1fr;
    }

    .proposition-type {
        padding: 50px;
    }

    .header .container {
        column-gap: 30px;
    }

    .plan__types-wrap {
        grid-template-columns: 1fr;
    }

    .main .container {
        padding-bottom: 350px;
    }

    .features {
        padding: 100px 0;
    }
}

@media screen and (max-width: 639px) {
    .container {
        max-width: 400px;
    }

    .header__right a {
        display: none;
    }

    .footer__certificates-wrap a {
        margin-bottom: 10px;
    }

    .main .container {
        padding-bottom: 200px;
    }

    .proposition {
        padding: 100px 0;
    }

    .proposition-type__buttons-wrap {
        grid-template-columns: 1fr;
    }

    .footer .container div:first-child {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 499px) {
    .container {
        max-width: 330px;
    }

    .main-slider__controls {
        width: 130px;
        right: 0;
        margin: auto;
        top: auto;
        bottom: -10px;
    }

    .main .container {
        padding-bottom: 250px;
    }

    .main__buttons-wrap {
        grid-template-columns: 1fr;
    }

    .slider-arrow-left {
        left: 0;
    }

    .slider-arrow-right {
        right: 0;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 300px;
    }

    .footer .container div:first-child {
        grid-column: 1/2;
    }

    .footer .container {
        grid-template-columns: 1fr;
    }
}
